<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
    {% block head %}{% endblock %}
  </head>
  <body>
    <div class="grid-container">
      <div class="tradingview-container tradingview-widget-container">
        <!-- TradingView Widget BEGIN -->
        <div id="tradingview_d366c"></div>
        <script
          type="text/javascript"
          src="https://s3.tradingview.com/tv.js"
        ></script>
        <script type="text/javascript">
          new TradingView.widget({
            autosize: true,
            symbol: "BINANCE:BTCUSDT",
            interval: "240",
            timezone: "Europe/Paris",
            theme: "dark",
            style: "1",
            locale: "en",
            toolbar_bg: "#f1f3f6",
            enable_publishing: false,
            hide_side_toolbar: false,
            save_image: false,
            studies: ["BB@tv-basicstudies", "MASimple@tv-basicstudies"],
            container_id: "tradingview_d366c",
          });
        </script>
        <!-- TradingView Widget END -->
      </div>
      <div class="scenarios-container">
        {% block scenario_table %} {% if scenarios|length < 1 %}
        <h4 style="text-align: center">There are no scenarios.</h4>
        {% else %}
        <table class="scenario-table">
          <tr>
            <th>Date</th>
            <th>Scenario</th>
            <th>Pair</th>
            <th>Order Type</th>
            <th>Amount</th>
            <th>Price</th>
            <th>TP1</th>
            <th>%</th>
            <th>TP2</th>
            <th>%</th>
            <th>TP3</th>
            <th>%</th>
            <th>SL</th>
            <th>SL UT</th>
            <th>SL BE</th>
          </tr>
          {% for scenario in scenarios %}
          <tr>
            <td>{{ scenario.date_created.date() }}</td>
            <td>{{ scenario.id }}</td>
            <td>{{ scenario.pair }}</td>
            <td>{{ scenario.order_type }}</td>
            <td>{{ scenario.amount }}</td>
            <td>{{ scenario.initial_price }}</td>
            <td>{{ scenario.tp1_price }}</td>
            <td>{{ scenario.tp1_percent }}</td>
            <td>{{ scenario.tp2_price }}</td>
            <td>{{ scenario.tp2_percent }}</td>
            <td>{{ scenario.tp3_price }}</td>
            <td>{{ scenario.tp3_percent }}</td>
            <td>{{ scenario.sl_price }}</td>
            <td>{{ scenario.sl_ut }}</td>
            <td>{{ scenario.sl_be }}</td>
            <td>
              <a href="/close/{{scenario.id}}">Close</a>
              <br />
              <a href="/update/{{scenario.id}}">Update</a>
            </td>
          </tr>
          {% endfor %}
        </table>
        {% endif %} {% endblock %}
      </div>
      <div class="scenario-container">{% block scenario %}{% endblock %}</div>
    </div>
  </body>
</html>
