{% extends 'base.html' %} {% block head %}
<title>Update</title>
{% endblock %}
{% block scenario %}
<form action="/" method="POST">
  <div class="input-rows">
    <div class="input-scenario">
      <label>Pair</label>
      <input type="text" name="pair" id="pair" value="{{scenario.pair}}" />
    </div>
    <label>Order type</label>
    <select name="order_type" id="order_type">
      <option value="MARKET">Market</option>
      <option value="LIMIT">Limit</option>
    </select>
  </div>
    <div class="input-scenario">
      <label>Price</label>
      <input
        type="text"
        name="initial_price"
        id="initial_price"
        value="{{scenario.initial_price}}"
      />
    </div>
    <div class="input-scenario">
      <label>Amount</label>
      <input type="text" name="amount" id="amount" value="{{scenario.amount}}" />
    </div>
    <div class="input-scenario">
      <label>SL</label>
      <input type="text" name="sl_price" id="sl_price" value="{{scenario.sl_price}}" />
    </div>
    <div class="input-scenario">
      <label>SL type</label>
      <select name="sl_type" id="sl_type">
        <option value="FIXED">fixed</option>
        <option value="UT">UT</option>
      </select>
    </div>
    <div class="input-scenario">
      <label>SL UT</label>
      <select name="sl_ut" id="sl_ut">
        <option value="M5">5m</option>
        <option value="M15">15m</option>
        <option value="M30">30m</option>
        <option value="H1">1h</option>
        <option value="H2">2h</option>
        <option value="H4">4h</option>
        <option value="D1">1d</option>
        <option value="W1">1w</option>
        <option value="MH1">1M</option>
      </select>
    </div>
    <div class="input-scenario">
      <label>TP1 + SL BE</label>
      <input type="checkbox" name="sl_be" id="sl_be" />
    </div>
    <div class="input-scenario">
      <label>TP1</label>
      <input type="text" name="tp1_price" id="tp1_price" value="{{scenario.tp1_price}}" />
    </div>
    <div class="input-scenario">
      <label>TP1 %</label>
      <input
        type="text"
        name="tp1_percent"
        id="tp1_percent"
        value="{{scenario.tp1_percent}}"
      />
    </div>
    <div class="input-scenario">
      <label>TP2</label>
      <input type="text" name="tp2_price" id="tp2_price" value="{{scenario.tp2_price}}" />
    </div>
    <div class="input-scenario">
      <label>TP2 %</label>
      <input
        type="text"
        name="tp2_percent"
        id="tp2_percent"
        value="{{scenario.tp2_percent}}"
      />
    </div>
    <div class="input-scenario">
      <label>TP3</label>
      <input type="text" name="tp3_price" id="tp3_price" value="{{scenario.tp3_price}}" />
    </div>
    <div class="input-scenario">
      <label>TP3 %</label>
      <input
        type="text"
        name="tp3_percent"
        id="tp3_percent"
        value="{{scenario.tp3_price}}"
      />
    </div>
    <input type="submit" value="Validate scenario" />
  </div>
</form>
{% endblock %}